*{
    margin: 0;
    padding: 0;
    font-family:  "Arial,Helvetica,sans-serif";
}
div.header{
    height: 50px;
    width: 100%;
    background-color: #78b43d;
}
ul.menu{
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    width: 800px;

}

ul.menu li a{
    color: white;
    font-family: "rial,Helvetica,sans-serif";
    font-size: 13px;
    display: block;
    text-decoration: none;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 18px;
    transform: 0.5s;
}
.menu a:hover{
    padding-top: 10px;
    padding-bottom: 23px;
    background-color: #4d9901;
}
a{
    text-transform: none;
}
div.tint1{
    width: 350px;
    height: 250px;
    display: flex;
}
div.tin1 a{
    font-weight: 600;
    text-transform: none;
    color: #333;
    font-size: 14px;
}
img.virus_corona{
    width: 120px;
    height: 90px;
}
div.tin1 a:hover{
    color: rgb(83, 156, 10);
}
